.logo-box {
  position: relative;

  &--header {
    margin: 0 auto;
    max-width: 960px;
    height: 230px;

    .logo {
      width: inherit;
      height: inherit;
      display: block;
    }

    .logo__first,
    .logo__second {
      max-width: none;
      width: 100%;
      height: 230px;

      img {
        padding: 0 20px;
        width: inherit;
        height: inherit;
      }
    }
  }

  &--footer {
    width: auto;
    height: 110px;

    .logo__first,
    .logo__second {
      width: 460px;
      height: 110px;

      img {
        padding: 0 12px 0 4px;
        width: inherit;
        height: inherit;
      }
    }
  }
}

.logo {
  position: relative;

  &__first,
  &__second {
    position: absolute;
    top: 0;
    left: 0;
  }
}